[Desktop Entry]
Version=1.0
Name=X-Haven Assistant
GenericName=X-Haven Assistant
Comment=A Mega Cool App that does everything
Terminal=false
Type=Application
Categories=Utility
Keywords=Flutter;share;files;