name: Flutter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frosthaven_assistant
        
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.2'
          channel: 'stable' # or: 'beta', 'dev' or 'master'
      - run: flutter --version
          
      - name: Install dependencies
        run: flutter pub get
        
#      - run: flutter analyze --no-fatal-infos --no-fatal-warnings
        
      - name: Create mocks
        run: flutter pub run build_runner build
        
      - name: Run tests
        run: flutter test --coverage
        
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
