name: Build Server Docker Image
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
permissions:
  contents: read
  packages: write
jobs:
  container:
    name: Build docker container
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./frosthaven_assistant_server
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/x-haven-server
          tags: |
            type=raw,value=dev,enable=${{ github.ref == 'refs/heads/main' }}
            type=semver,pattern={{version}}
            type=raw,value=latest,enable=${{ github.ref_type == 'tag' }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./frosthaven_assistant_server
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
